main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.heroText{
font-family:modesto-open-shadow, sans-serif;
font-weight: 500;
color: rgb(17, 168, 168);
}
.minHeight{
    min-height: 80vh;
}
.bgImage{
    background-image: url('/img/bsGridsBg.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.centerContent{
    
}
